
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1463550986'); /* IE9*/
  src: url('iconfont.eot?t=1463550986#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1463550986') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1463550986') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1463550986#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-new-create:before { content: "\e63f"; }
.icon-cart:before { content: "\e65a"; }
.icon-clock:before { content: "\e65b"; }
.icon-cloud:before { content: "\e6cd"; }
.icon-zoomcard:before { content: "\e6c9"; }
.icon-refresh:before { content: "\e66a"; }
.icon-gird:before { content: "\e672"; }
.icon-lbsfill:before { content: "\e668"; }
.icon-service:before { content: "\e68c"; }
.icon-feedback:before { content: "\e68a"; }
.icon-share:before { content: "\e68b"; }
.icon-likefill:before { content: "\e69d"; }
.icon-like:before { content: "\e69c"; }
.icon-select2:before { content: "\e6b8"; }
.icon-select2fill:before { content: "\e6b7"; }
.icon-planefill:before { content: "\e6b2"; }
.icon-plane:before { content: "\e6b1"; }
.icon-computer:before { content: "\e6b3"; }
.icon-ascend:before { content: "\e6b4"; }
.icon-defaultsort:before { content: "\e6b5"; }
.icon-falling:before { content: "\e6b6"; }
.icon-clothing:before { content: "\e655"; }
.icon-download:before { content: "\e6cf"; }
.icon-jinbi:before { content: "\e6c8"; }
.icon-camera:before { content: "\e658"; }
.icon-camerafill:before { content: "\e657"; }
.icon-remind:before { content: "\e65f"; }
.icon-remindfill:before { content: "\e65e"; }
.icon-select:before { content: "\e661"; }
.icon-selectfill:before { content: "\e660"; }
.icon-delete:before { content: "\e67e"; }
.icon-gift:before { content: "\e681"; }
.icon-comments:before { content: "\e689"; }
.icon-fav:before { content: "\e686"; }
.icon-favfill:before { content: "\e685"; }
.icon-baby:before { content: "\e680"; }
.icon-diamond:before { content: "\e67f"; }
.icon-date:before { content: "\e697"; }
.icon-message:before { content: "\e698"; }
.icon-mobile:before { content: "\e6a0"; }
.icon-closefill:before { content: "\e6a6"; }
.icon-close:before { content: "\e6a7"; }
